.col-md-10 .col-md-8 .nav-item{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.col-md-10 .col-md-8 .nav-item button{
    background:none;
    border: none;
    outline: none;
}

.col-md-10 .col-md-8 .nav-item a{
    text-decoration: none;
    color:#000;
}
.col-md-10  #table tbody tr{
  cursor: pointer;
}
